<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRuckRGfLQThEVvMUeTakUMiBXCrRU6z8</string>
	<key>GCM_SENDER_ID</key>
	<string>47637481817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicNotesApp</string>
	<key>PROJECT_ID</key>
	<string>basic-notes-app-319f0</string>
	<key>STORAGE_BUCKET</key>
	<string>basic-notes-app-319f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47637481817:ios:8073d712d911d828ae2448</string>
</dict>
</plist>